{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/shop/catalogue.css' %}">
{% endblock %}

{% block content %}
<main>
    {% for car in cars %}
    <article class="col">
        <figure>
            <img src="{{ car.image }}" alt="" width="95%" height="170px">
        </figure>
        <h3>{{ car.name }}</h3>
        <ul class="description">
            <li>Тип: {{ car.description.type }}</li>
            <li>Двигун: {{ car.description.engine }}</li>
            <li>Потужність: {{ car.description.power }} к.с.</li>
            <li>Розгін {{ car.description.dispersal }}</li>
            <li>Витрати пального: {{ car.description.fuel_consumption }}</li>
            <li>Ціна/міс: ${{ car.description.price_month }}</li>
        </ul>
        <hr>
        <a href="{{ car.url }}" class="btn">Орендувати</a>
    </article>
    {% endfor %}
</main>
{% endblock %}