{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/shop/index.css' %}">
{% endblock %}

{% block content %}
<main>
    <aside>
        <img src="{% static 'img/index.jpg' %}" alt="" width="100%">
        <h2>Чому обирати нас?</h2>
        <ul>
            <li><b>Широкий вибір автомобілів:</b> Від економ-класу до преміум-класу — знайдете автомобіль, який
                підходить
                для будь-яких потреб.</li>
            <li><b>Гнучкі умови оренди:</b> Орендуйте машину на день, тиждень або навіть місяць — ми пропонуємо вигідні
                умови оренди для будь-якого терміну.</li>
            <li><b>Простота оформлення:</b> Легко забронювати авто онлайн, без зайвих документів та складних процедур.
            </li>
            <li><b>Доступні ціни:</b> Конкурентоспроможні ціни на оренду автомобілів для будь-якого бюджету.</li>
            <li><b>Підтримка 24/7:</b> Ми завжди на зв'язку, щоб допомогти вам у будь-який час доби.</li>
        </ul>
    </aside>
    <div id="main-content">
        <h1>Ласкаво просимо до нашого сервісу — вашого надійного партнера в оренді автомобілів!</h1>
        <p>Плануєте подорож або маєте нагальну потребу в машині? Ми пропонуємо широкий вибір автомобілів для оренди, щоб
            ваша поїздка була комфортною та безпечною. Незалежно від того, чи це короткострокова поїздка, чи
            довготривала
            оренда — ми маємо саме те, що вам потрібно.</p>

        <h2>Як це працює?</h2>
        <ol>
            <li><b>Оберіть автомобіль:</b> Використовуйте наш зручний каталог, щоб знайти ідеальну машину для вашої
                подорожі.</li>
            <li><b>Забронюйте онлайн:</b> Легко оформлюйте оренду через наш сайт. Виберіть дату та місце отримання.</li>
            <li><b>Отримайте автомобіль:</b> Завітайте до нашого офісу або отримайте машину безпосередньо в аеропорту чи
                на
                вокзалі.</li>
            <li><b>Почніть подорож:</b> Насолоджуйтесь комфортом та свободою подорожей!</li>
        </ol>
        <p class="last">Не зволікайте! Заплануйте свою поїздку сьогодні, забронювавши автомобіль на нашому сайті.
            Отримуйте
            знижки та
            спеціальні пропозиції для нових клієнтів.</p>
        <a href="{% url 'catalogue'%}" class="btn btn-primary">Обрати бренд</a>
    </div>
</main>
{% endblock %}